<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table{
        text-align: center;
    }
    td, th, table{
        border: 1px solid grey;
    }
    .slidecontainer {
        width: 40%;
    }
    
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider:hover {
      opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }
</style>
<body>
    <h1>Histogram</h1>
    <div class = 'container' style="width: 100%; display:grid; grid-column-gap: 5px;">
            <div class="slidecontainer">
                <label for="myRange">Please set a cutoff value on a scale from 1 to 300</label>
                <br><br>
                <input type="range" min="1" max="300" value="100" name ="myRnage" class="slider" id="myRange">
                <p>Current value: <span id="demo"></span></p>
            </div>
            <div>
                <table id = "histogramTable">
                    <tbody id = "histogramTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br><br>

    <form method = "post" enctype="multipart/form-data">
        <input type="submit" formaction="/handleFile" value="submit" >
        <input type="submit" formaction="/handleLogout" value="logout">
    </form>

    <br><br>

    <div id = "fdata"><%= data %></div>


    <script>
        // Populate table of csv data
        var fdata = document.getElementById('fdata');
        var fdatahtml = fdata.innerHTML;
        fdata.innerHTML = 'DATA TABLE<br>';
        var lines = fdatahtml.trim().split('\n');
        var newDT = []; // contains csv file in array 
        var tableData = createCSVTable();
        fdata.innerHTML += tableData;
        var studentsFinalGrades;
        var is_initial_histogram = true;
        
        studentsFinalGrades = create_histogram_of(newDT, null);

        // Slider function
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        
        output.innerHTML = slider.value; // Display the default slider valu
        slider.oninput = function(){
            var scaleValue = this.value;
            output.innerHTML = scaleValue;
            studentsFinalGrades = create_histogram_of(newDT, scaleValue);
        }
      


        // return student records after plotting a histrogram of students' grades
        function create_histogram_of(data, scaleValue){
            console.clear();
            var studentFinalRecords;

            // 1. Get the length of total row = number of grade items
            var num_grade_items, total_row_index = get_num_of_grade_items(data); 
            
            // 2. For each student row, calculate the total sum
            var student_totals = calculate_total_sum_of_student(data, total_row_index);
            console.log('Student initial records\n', student_totals);
            
            // if scale value is set, readjust the total sums of students
            // and display in histogram for each student record with their corresponding grade
            if (scaleValue !== null && scaleValue !== undefined){
                studentFinalRecords = assign_grades(student_totals, scaleValue);  
            }else{
                studentFinalRecords = assign_grades(student_totals, null);     
            }

            console.log(`Student Final Grades\n `, studentFinalRecords);

            return studentFinalRecords;
        }


        // Assign corresponding grades to students and display histogram 
        // if scale value is not set, display default histogram
        // if scale is set, display scaled histogram
        // return student final grades {studnetID: final total point};
        function assign_grades(studentRecords, scaleValue){
            var tbody = document.getElementById('histogramTableBody');
            var tbodyTemplate = "<tr id ='colAp'><th>A+</th></tr>" +
                                "<tr id ='colA'><th>A</th></tr>" +
                                "<tr id ='colAm'><th>A-</th></tr>" +
                                "<tr id ='colBp'><th>B+</th></tr>" +
                                "<tr id ='colB'><th>B</th></tr>" +
                                "<tr id ='colBm'><th>B-</th></tr>" +
                                "<tr id ='colCp'><th>C+</th></tr>" +
                                "<tr id ='colC'><th>C</th></tr>" +
                                "<tr id ='colCm'><th>C-</th></tr>" +
                                "<tr id ='colD'><th>D</th></tr>" +
                                "<tr id ='colF'><th>F</th></tr>";
            
            tbody.innerHTML += tbodyTemplate;

            if(scaleValue === null || scaleValue === undefined){
                var studnetGradeRecords = studentRecords;
                console.log('No scaling ...');
            }else{
                var studnetGradeRecords = scaleStudentTotals(studentRecords, scaleValue);
                console.log('Applying scaling ... ');
                // clean up the table body 
                tbody.innerHTML = '';
                tbody.innerHTML = tbodyTemplate;
            }

            // console.log(`Student records to grade\n`, studnetGradeRecords);
            

            for (var record in studnetGradeRecords){
                var grade = studnetGradeRecords[record];
                // console.log(typeof grade, ` grade to display: ${grade}`);

                if (grade >= 95){
                    //tcolAP = tr, table row
                    var tcolAp = document.getElementById('colAp');
                    tcolAp.innerHTML += "<td class='studentRecordCell'>o</td>";
                   // console.log('assinged grade: A+');
                }else if(grade >= 90 && grade <= 94.99){
                    var tcolA = document.getElementById('colA'); 
                    tcolA.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: A');
                }else if(grade >= 85 && grade <= 89.99){
                    var tcolAm = document.getElementById('colAm'); 
                    tcolAm.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: A-');
                }else if(grade >= 80 && grade <= 84.99){
                    var tcolBp = document.getElementById('colBp');  
                    tcolBp.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: B+');
                }else if(grade >= 75 && grade <= 79.99){
                    var tcolB = document.getElementById('colB'); 
                    tcolB.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: B');
                }else if(grade >= 70 && grade <= 74.99){
                    var tcolBm = document.getElementById('colBm');  
                    tcolBm.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: B-');
                }else if(grade >= 65 && grade <= 69.99){
                    var tcolCp = document.getElementById('colCp');  
                    tcolCp.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: C+');
                }else if(grade >= 60 && grade <= 64.99){
                    var tcolC = document.getElementById('colC');   
                    tcolC.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: C');
                }else if(grade >= 55 && grade <= 59.99){
                    var tcolCm = document.getElementById('colCm');  
                    tcolCm.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade: C-');
                }else if(grade >= 50 && grade <= 54.99){
                    var tcolD = document.getElementById('colD');  
                    tcolD.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade:" D');
                }else{
                    var tcolF = document.getElementById('colF');  
                    tcolF.innerHTML += "<td class='studentRecordCell'>o</td>";
                    // console.log('assinged grade:: F');
                }       
            }
        
        
            return studnetGradeRecords;
        }


        // Scale student totals by given scale value
        // return a new student total records {studnetID: total}
        function scaleStudentTotals(studentRecords, scaleValue){
            for (var record in studentRecords){
                studentRecords[record] = studentRecords[record] * scaleValue / 100;
            }
            // console.log(`New Student Records: ${studentRecords}`);

            return studentRecords;
        }
     

        // return the number of grading items based on the total row length as the first parameter
        // return index of total row as the second parameter
        function get_num_of_grade_items(data){
            var total_row_index;

            for (var i =0; i < data.length; i++){
                if (data[i][0] === 'total'){
                    total_row_index = i;
                    break;
                }
            }
            var total_row_length = data[total_row_index].length;
            return total_row_length, total_row_index;
        }


        // Return a dictionary of total sumr per student {studentID: total}
        function calculate_total_sum_of_student(data, total_row_index){
            var studentRecords = {};
            
            for (var row = 1; row < data.length; row++){
                // skip the total row
                if (data[row] !== data[total_row_index]){
                    // sum all grades per student
                    var student_sum = 0;
                    for (var col= 1; col < data[row].length; col++){
                        student_sum += parseInt(data[row][col]) * parseInt(data[total_row_index][col]) / 100;
                    }
                    // console.log(`StudnetID = ${data[row][0]} has total = ${student_sum}`);
                    studentRecords[data[row][0]] = student_sum; 
                }
            }  
            return studentRecords;
        }


        function createCSVTable(){
            var tableData = '<table>';
            
                for(var row = 0; row < lines.length; row++){
                    tableData += '<tr>';
                    
                    // for each string row as elements of the array, parse them
                    var colData = lines[row].split(',');
                    newDT.push(colData);
                    // console.log(`column data at ${row}: `, colData);
                    
                    for (var col = 0; col < colData.length; col++){
                        if(row === 0 ){
                            tableData += '<th>' + colData[col] + '</th>';
                        }else{
                            tableData += '<td>' + colData[col] + '</td>';
                        }
                    }
                    tableData += '</tr>';
                }
                tableData += '</table>';
    
            // console.log(tableData);
           return tableData;
        }


    </script>
</body>
</html>